.color-yellow {
  color: #FFC928;
}

.color-blue {
  color: #4529F5;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.color-green {
  color: #02800E;
}

@font-face {
  font-family: "BergenSans";
  font-weight: bold;
  src: url("/src/fonts/BergenSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: "BergenSans";
  font-weight: normal;
  src: url("/src/fonts/BergenSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: BergenText;
  font-weight: normal;
  src: url("/src/fonts/BergenText-Regular.otf") format("opentype");
}
@font-face {
  font-family: BergenText;
  font-weight: bold;
  src: url("/src/fonts/BergenText-Bold.otf") format("opentype");
}
.body {
  font-family: Inter, sans-serif;
}

.text-normal {
  font-size: 21px;
}
@media (max-width: 767px) {
  .text-normal {
    font-size: 15.75px;
  }
}

.heading-1 {
  font-family: BergenSans;
  font-weight: bold;
  font-size: clamp(1rem, 10vw, 3rem);
}

.heading-2 {
  font-family: BergenSans;
  font-weight: bold;
  font-size: clamp(32px, 10vw, 70px);
  max-width: 320px;
}

.heading-3 {
  font-family: BergenSans;
  font-weight: bold;
  font-size: clamp(24px, 80%, 32px);
}

.sub {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 28px;
}
@media (max-width: 767px) {
  .sub {
    font-size: 16px;
  }
}

.number-xl {
  font-size: 9rem;
  font-family: BergenSans, sans-serif;
  font-weight: bold;
}
@media (max-width: 767px) {
  .number-xl {
    font-size: 4rem;
  }
}

.number-lg {
  font-size: 140px;
  font-family: BergenSans, sans-serif;
  font-weight: bold;
}
@media (max-width: 767px) {
  .number-lg {
    font-size: 70px;
  }
}

.number-md {
  font-family: BergenSans, sans-serif;
  font-weight: bold;
  font-size: 4rem;
}
@media (max-width: 767px) {
  .number-md {
    font-size: 2rem;
  }
}

.number-sm {
  font-family: BergenSans, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}
@media (max-width: 767px) {
  .number-sm {
    font-size: 1.7rem;
  }
}

.product-name {
  font-family: BergenSans, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}
@media (max-width: 767px) {
  .product-name {
    font-size: 1rem;
  }
}

.text-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.hovered-yellow:hover {
  color: #E7AD00;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sub, sup {
  font-size: 70%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

p {
  font-family: Inter, sans-serif;
  font-weight: regular;
}

.bg-yellow {
  background-color: #FFC928;
}

.bg-yellow-50 {
  background-color: #F9D871;
}

.bg-yellow-30 {
  background-color: #FAE59D;
}

.bg-blue {
  background-color: #4529F5;
}

.bg-green {
  background: #02800E;
}

.bg-blue-90 {
  background-color: #7B66F3;
}

.bg-blue-80 {
  background-color: #C3B9F1;
}

.bg-red {
  background-color: #FF1339;
}

.bg-black {
  background-color: black;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .flex-row-reverse {
    flex-direction: row;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.mb-1 {
  margin-bottom: 1rem;
}

.gap-2 {
  gap: 8px;
}

.gap-30 {
  gap: 120px;
}
@media (max-width: 767px) {
  .gap-30 {
    gap: 24px;
  }
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 64px;
}

.z-10 {
  z-index: 10;
}

.grid {
  display: grid;
}

.col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.row-1 {
  grid-template-rows: repeat(1, 1fr);
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.row-2 {
  grid-template-rows: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.row-3 {
  grid-template-rows: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.row-4 {
  grid-template-rows: repeat(4, 1fr);
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.row-5 {
  grid-template-rows: repeat(5, 1fr);
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.row-6 {
  grid-template-rows: repeat(6, 1fr);
}

.col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.row-7 {
  grid-template-rows: repeat(7, 1fr);
}

.col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.row-8 {
  grid-template-rows: repeat(8, 1fr);
}

@media (max-width: 767px) {
  .mobile-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .mobile-row-1 {
    grid-template-rows: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .mobile-row-2 {
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .mobile-row-3 {
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .mobile-row-4 {
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 767px) {
  .mobile-row-5 {
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (max-width: 767px) {
  .mobile-row-6 {
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (max-width: 767px) {
  .mobile-row-7 {
    grid-template-rows: repeat(7, 1fr);
  }
}
@media (max-width: 767px) {
  .mobile-row-8 {
    grid-template-rows: repeat(8, 1fr);
  }
}
@media (max-width: 767px) {
  .mobile-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
################################################################################################
               ! CUSTOMER HIGHLIGHTS
################################################################################################
*/
.cust-highlights-section {
  padding: 122px 32px;
  display: grid;
  place-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 767px) {
  .cust-highlights-section {
    padding: 100px 14px;
  }
}
.cust-highlights-section .cust-highlights-title {
  grid-area: 1/1;
}
@media (max-width: 767px) {
  .cust-highlights-section .cust-highlights-title {
    grid-area: 1/1;
    margin-bottom: 12px;
  }
}

.cust-highlight-wrapper {
  z-index: 10;
  max-width: 1250px;
  width: 100%;
}

.new-customer-wrapper {
  grid-area: 1/2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .new-customer-wrapper {
    grid-area: 2/1;
    justify-content: flex-start;
  }
}

.new-customer, .active-customer {
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: end;
  border-bottom: 1px solid black;
  padding-bottom: 18px;
}
@media (max-width: 767px) {
  .new-customer, .active-customer {
    width: 100%;
  }
}

.new-cust-illustration {
  grid-area: 1/3;
  position: relative;
}
.new-cust-illustration iframe {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 767px) {
  .new-cust-illustration iframe {
    transform: scale(60%);
    transform-origin: right bottom;
  }
}
@media (max-width: 767px) {
  .new-cust-illustration {
    grid-area: 2/2;
    justify-content: flex-start;
  }
}

.new-cust-illustration > img {
  height: 220px;
}
@media (max-width: 767px) {
  .new-cust-illustration > img {
    height: 75px;
  }
}

.active-customer-wrapper {
  grid-area: 2/3;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 120px;
}
@media (max-width: 767px) {
  .active-customer-wrapper {
    grid-area: 3/2;
    justify-content: flex-start;
    margin-top: 32px;
  }
}

.active-cust-illustration {
  grid-area: 2/2;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  position: relative;
}
.active-cust-illustration iframe {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 767px) {
  .active-cust-illustration iframe {
    transform: scale(60%);
    transform-origin: right bottom;
  }
}
@media (max-width: 767px) {
  .active-cust-illustration {
    grid-area: 3/1;
    justify-content: flex-start;
  }
}

.active-cust-illustration > img {
  height: 220px;
}
@media (max-width: 767px) {
  .active-cust-illustration > img {
    height: 75px;
  }
}

.percentage {
  display: flex;
}

.icon-plus {
  width: 20px;
  height: 20px;
}

/*
################################################################################################
               ! CUSTOMER HIGHLIGHTS
################################################################################################
*/
.prod-highlights-section {
  padding: 122px 32px;
  display: grid;
  place-items: center;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .prod-highlights-section {
    padding: 32px 14px;
  }
}

.decor-bg-1 {
  position: absolute;
  z-index: 0;
  left: 0;
  top: -200px;
}
@media (max-width: 767px) {
  .decor-bg-1 {
    top: -100px;
  }
}
@media (max-width: 767px) {
  .decor-bg-1 img {
    width: 80%;
  }
}

.product-highlight-wrapper {
  z-index: 2;
  width: 80vw;
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
}
@media (max-width: 1080px) {
  .product-highlight-wrapper {
    flex-direction: column;
    width: 95vw;
  }
}
@media (max-width: 767px) {
  .product-highlight-wrapper {
    flex-direction: column;
    width: 100%;
  }
}

.prod-highlights-title {
  max-width: 320px;
  margin-bottom: 120px;
}
@media (max-width: 1080px) {
  .prod-highlights-title {
    margin-bottom: 60px;
  }
}

.product-edition-wrapper, .platform-wrapper {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 60px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 60px;
  height: 240px;
  display: flex;
  flex-direction: column;
  outline: 0px white solid;
  transition: outline 0.1s ease-out;
}
.product-edition-wrapper:hover, .platform-wrapper:hover {
  outline: 7px white solid;
}
@media (max-width: 1080px) {
  .product-edition-wrapper, .platform-wrapper {
    border-radius: 32px;
    padding: 24px;
    height: 180px;
  }
}

.prod-bar {
  width: 100%;
  height: 100%;
  display: flex;
}
.prod-bar div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}
.prod-bar .ultimate {
  width: 78%;
  background: #FFC928;
  background-image: url(/src/img/ultimate-bg.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 45%;
}
.prod-bar .professional {
  width: 13%;
  background-color: #4529F5;
}
.prod-bar .fem {
  width: 10%;
  background: black;
}
.prod-bar .winforms {
  width: 57%;
  background: #FFC928;
  background-image: url(/src/img/winform-bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
}
.prod-bar .wpf {
  width: 43%;
  background: #4529F5;
  background-image: url(/src/img/wpf-bg.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 75%;
}

/*
################################################################################################
               ! PRODUCT USAGE
################################################################################################
*/
.prod-usage-section {
  padding: 32px 32px;
  display: grid;
  place-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 767px) {
  .prod-usage-section {
    padding: 80px 14px;
  }
}

.prod-usage-wrapper {
  max-width: 1250px;
  width: 100%;
}
@media (max-width: 1080px) {
  .prod-usage-wrapper {
    width: 90vw;
  }
}

.prod-usage-row-1 {
  display: flex;
  justify-content: space-between;
}
.prod-usage-row-1 div img {
  width: 140px;
}
@media (max-width: 767px) {
  .prod-usage-row-1 div img {
    width: 80px;
  }
}

.prod-usage-row-2 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .prod-usage-row-2 {
    flex-direction: column;
  }
}

.four-years-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}
.prod-usage-title {
  max-width: 280px;
  margin-bottom: 120px;
}
@media (max-width: 767px) {
  .prod-usage-title {
    margin-bottom: 60px;
    max-width: 220px;
  }
}

@media (max-width: 767px) {
  .illustration-productusage-frame {
    transform: scale(90%);
    transform-origin: top right;
  }
}

.prod-usage-data {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 1080px) {
  .prod-usage-data {
    min-width: 140px;
    align-items: start;
  }
}
@media (max-width: 767px) {
  .prod-usage-data {
    min-width: 120px;
    align-items: start;
  }
}

.big-number-wrapper div {
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 40px;
  border-bottom: solid 1px black;
}
.big-number-wrapper div:hover {
  background: white;
  outline: 25px solid white;
}
@media (max-width: 767px) {
  .big-number-wrapper div {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 32px;
  }
}

.big-number {
  font-size: 210px;
  font-family: BergenSans, sans-serif;
  font-weight: bold;
}
@media (max-width: 767px) {
  .big-number {
    font-size: 120px;
  }
}

.usage-year {
  font-size: 36.75px;
  font-family: Inter, sans-serif;
  font-weight: bold;
}
@media (max-width: 767px) {
  .usage-year {
    font-size: 24px;
  }
}

.usage-number {
  font-size: 98px;
  font-family: BergenSans;
  font-weight: bold;
}
@media (max-width: 767px) {
  .usage-number {
    font-size: 60px;
  }
}

/*
################################################################################################
               ! REGION USAGE
################################################################################################
*/
.region-section {
  padding: 90px 32px;
  display: grid;
  place-items: center;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .region-section {
    padding: 0px 14px 120px 14px;
  }
}

.decor-bg-2 {
  position: absolute;
  top: -75px;
  right: 0;
  z-index: 0;
}
@media (max-width: 767px) {
  .decor-bg-2 {
    top: -120px;
    transform: scale(40%);
    transform-origin: top right;
  }
}

.region-wrapper {
  max-width: 1250px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
@media (max-width: 1080px) {
  .region-wrapper {
    width: 80vw;
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .region-wrapper {
    width: 90vw;
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.illustration-wrapper {
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1080px) {
  .illustration-wrapper {
    width: 100px;
  }
}
@media (max-width: 767px) {
  .illustration-wrapper {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .illustration-wrapper img:nth-child(2) {
    display: none;
  }
}

.revenue-wrapper, .turnover-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
@media (max-width: 767px) {
  .revenue-wrapper, .turnover-wrapper {
    flex: none;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .revenue-wrapper {
    border-bottom: 1px solid black;
    padding-bottom: 40px;
  }
}

.revenue-bars, .turnover-bars {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 24px;
}
@media (max-width: 767px) {
  .revenue-bars, .turnover-bars {
    gap: 12px;
    margin-right: 0;
    padding-right: 14px;
  }
}

.revenue-title, .turnover-title {
  margin-bottom: 60px;
}

.revenue-title h3, .turnover-title h3 {
  font-family: BergenSans, sans-serif;
  font-weight: bold;
  font-size: 52.5px;
  max-width: 200px;
}

.item-bar p {
  font-weight: bold;
  font-size: 21px;
}
@media (max-width: 1080px) {
  .item-bar p {
    font-size: 18px;
  }
}
@media (max-width: 1080px) {
  .item-bar {
    font-size: 0.8rem;
  }
}

.rev-apoc-bar, .rev-ema-bar, .rev-americas-bar, .turnover-apoc-bar, .turnover-ema-bar, .turnover-americas-bar {
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  margin-top: 8px;
}
.rev-apoc-bar p, .rev-ema-bar p, .rev-americas-bar p, .turnover-apoc-bar p, .turnover-ema-bar p, .turnover-americas-bar p {
  font-family: BergenSans, sans-serif;
  font-size: 35px;
}
@media (max-width: 1080px) {
  .rev-apoc-bar p, .rev-ema-bar p, .rev-americas-bar p, .turnover-apoc-bar p, .turnover-ema-bar p, .turnover-americas-bar p {
    font-size: 28px;
  }
}
@media (max-width: 1080px) {
  .rev-apoc-bar, .rev-ema-bar, .rev-americas-bar, .turnover-apoc-bar, .turnover-ema-bar, .turnover-americas-bar {
    height: 40px;
  }
}

.rev-apoc-bar {
  width: 100%;
}
.rev-apoc-bar:hover {
  background: #E7AD00;
}

.rev-ema-bar {
  width: 50%;
}
.rev-ema-bar:hover {
  background: #E7AD00;
}

.rev-americas-bar {
  width: 36.4779874214%;
}
.rev-americas-bar:hover {
  background: #E7AD00;
}

.turnover-apoc-bar {
  width: 38.9189189189%;
}
.turnover-apoc-bar:hover {
  background: #1E00DA;
  color: white;
}

.turnover-ema-bar {
  width: 100%;
}
.turnover-ema-bar:hover {
  background: #1E00DA;
  color: white;
}

.turnover-americas-bar {
  width: 41.2612612613%;
}
.turnover-americas-bar:hover {
  background: #1E00DA;
  color: white;
}

/*
################################################################################################
               ! PAYING ACTIVE USER
################################################################################################
*/
.paying-active-user-section {
  padding: 90px 32px;
  display: grid;
  place-items: center;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .paying-active-user-section {
    padding: 0px 14px 120px 14px;
  }
}

.PAU-wrapper {
  max-width: 1250px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 112px;
}
@media (max-width: 1080px) {
  .PAU-wrapper {
    width: 80vw;
    gap: 60px;
  }
}
@media (max-width: 767px) {
  .PAU-wrapper {
    width: 90vw;
  }
}

.PAU-row-1 {
  display: flex;
  gap: 32px;
  height: -moz-fit-content;
  height: fit-content;
}

.illustration-PAU-frame {
  width: 140px;
  display: flex;
}
@media (max-width: 1080px) {
  .illustration-PAU-frame {
    width: 120px;
    height: 90px;
  }
}

.PAU-row-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.PAU-row-2 .PAU-rangking img {
  width: 100%;
}
@media (max-width: 767px) {
  .PAU-row-2 .PAU-rangking img {
    height: 420px;
    width: auto;
  }
}
.PAU-row-2 .PAU-countries {
  overflow-x: scroll;
  overflow-y: hidden;
  direction: rtl;
}
.PAU-row-2 .PAU-countries img {
  width: 100%;
}
@media (max-width: 767px) {
  .PAU-row-2 .PAU-countries img {
    height: 420px;
    width: auto;
  }
}

.PAU-countries::-webkit-scrollbar {
  height: 8px;
  background-color: white;
  border-radius: 100px;
}

.PAU-countries::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 100px;
  width: 8px;
}

/*
################################################################################################
               ! PAYING CUSTOMER YoY GROWTH
################################################################################################
*/
.yoy-section {
  padding: 120px 32px 20px 32px;
  display: grid;
  place-items: center;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .yoy-section {
    padding: 0px 14px 120px 14px;
  }
}

.yoy-wrapper {
  width: 60vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 1080px) {
  .yoy-wrapper {
    width: 80vw;
  }
}
@media (max-width: 767px) {
  .yoy-wrapper {
    width: 90vw;
  }
}

.yoy-row-1 {
  display: flex;
  justify-content: space-between;
}

.yoy-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}
@media (max-width: 767px) {
  .yoy-title {
    align-items: start;
    margin-left: 32px;
  }
}

.illustration-yoy-frame {
  height: 140px;
  width: 140px;
}
@media (max-width: 767px) {
  .illustration-yoy-frame {
    height: 90px;
  }
}

.yoy-row-2 {
  position: relative;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 767px) {
  .yoy-row-2 {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: -moz-fit-content;
    height: fit-content;
  }
}

.yoy-data-wrapper {
  aspect-ratio: 1/1;
  border-radius: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.yoy-text-lg {
  font-size: 2rem;
  z-index: 2;
}

.yoy-text-sm {
  font-size: 1rem;
  z-index: 2;
}

.yoy-percent-lg {
  font-family: BergenSans;
  font-weight: bold;
  font-size: 5rem;
  z-index: 2;
}

.yoy-percent-md {
  font-family: BergenSans;
  font-weight: bold;
  font-size: 2.5rem;
}

.turkey {
  grid-area: 1/1/4/4;
  background: #FF1339;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.turkey:hover {
  transform: translateY(-10px);
}
.turkey .bg-square {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  z-index: 0;
  background: black;
  opacity: 0.1;
}
.turkey .bg-circle {
  position: absolute;
  width: 70%;
  height: 70%;
  bottom: -25%;
  right: -25%;
  z-index: 0;
  background: black;
  opacity: 0.1;
  border-radius: 1000px;
}

.india {
  grid-area: 1/4;
  background: #4529F5;
  width: 97%;
}

.spain {
  grid-area: 2/4;
  background: #FFC928;
  width: 86%;
}

.ausie {
  grid-area: 3/4;
  background: #02800E;
  width: 84%;
}

.korea {
  grid-area: 1/5;
  background: #F44E1C;
  width: 50%;
  height: 50%;
  overflow: visible;
  position: relative;
  align-items: start;
}
.korea div {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: -170%;
}

.italy {
  grid-area: 2/5;
  background: #02800E;
  width: 84%;
}

.canada {
  grid-area: 3/5;
  background: #02800E;
  width: 84%;
}

.denmark {
  grid-area: 4/5;
  background: #02800E;
  width: 84%;
}

.sweden {
  grid-area: 3/6;
  background: #02800E;
  width: 84%;
}

.germany {
  grid-area: 4/6;
  background: #02800E;
  width: 84%;
}

/*
################################################################################################
               ! TECHNICAL SUPPORT
################################################################################################
*/
.tech-support-section {
  padding: 180px 32px;
  display: grid;
  place-items: center;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .tech-support-section {
    padding: 0px 14px 120px 14px;
  }
}

.tech-supp-bg-grid {
  position: absolute;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 100%;
}
.tech-supp-bg-grid .animation {
  grid-area: 4/4/6/6;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.tech-supp-bg-grid .animation iframe {
  transform: scale(150%);
  transform-origin: right bottom;
}
@media (max-width: 1080px) {
  .tech-supp-bg-grid .animation iframe {
    transform: scale(100%);
  }
}
@media (max-width: 767px) {
  .tech-supp-bg-grid .animation iframe {
    transform: scale(80%);
  }
}
@media (max-width: 767px) {
  .tech-supp-bg-grid .animation {
    grid-area: 4/4/6/8;
  }
}
.tech-supp-bg-grid .tech-supp-bg {
  grid-area: 2/1/6/6;
  background: #4529F5;
  border-top-right-radius: 120px;
}
@media (max-width: 767px) {
  .tech-supp-bg-grid .tech-supp-bg {
    grid-area: 2/1/6/8;
    border-top-right-radius: 60px;
  }
}

.tech-support-wrapper {
  width: 100%;
  max-width: 1250px;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 80px;
  gap: 120px;
}
@media (max-width: 1080px) {
  .tech-support-wrapper {
    padding-top: 0;
    width: 80vw;
    gap: 60px;
  }
}
@media (max-width: 767px) {
  .tech-support-wrapper {
    width: 90vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.tech-support-col-1 {
  grid-area: 1/1/2/3;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 100px;
}
@media (max-width: 1080px) {
  .tech-support-col-1 {
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .tech-support-col-1 {
    grid-area: 2/1/3/3;
  }
}

.tech-support-col-2 {
  grid-area: 2/1/3/3;
}
@media (max-width: 767px) {
  .tech-support-col-2 {
    grid-area: 3/1/4/3;
  }
}

.tech-support-col-3 {
  grid-area: 1/3;
  text-align: right;
}
@media (max-width: 767px) {
  .tech-support-col-3 {
    grid-area: 1/1;
    text-align: left;
  }
}

.tech-supp-number:hover {
  color: #E7AD00;
}

/*
################################################################################################
               ! CUSTOMER MACHINES
################################################################################################
*/
.cust-machines-section {
  padding: 80px 32px 320px 32px;
  display: grid;
  place-items: center;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .cust-machines-section {
    padding: 120px 14px 120px 14px;
  }
}

.half-round-bg {
  width: 65%;
  height: 100%;
  background: #F9F6EF;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  border-top-left-radius: 320px;
}
@media (max-width: 767px) {
  .half-round-bg {
    border-top-left-radius: 160px;
    height: 90%;
    width: 75%;
  }
}

.decor {
  width: 300px;
}
.decor img {
  width: 100%;
}
@media (max-width: 767px) {
  .decor {
    display: none;
  }
}

.cust-machines-wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 1;
}
@media (max-width: 767px) {
  .cust-machines-wrapper {
    gap: 0px;
  }
}

.cust-machine-title {
  margin-bottom: clamp(80px, 2vh, 120px);
  max-width: 320px;
}

.cust-machines-col-2 {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .cust-machines-col-2 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.machine-card {
  padding: 24px;
  background: rgba(253, 252, 249, 0.8);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.machine-card:hover {
  background: #F1EBDE;
}
.machine-card h3 {
  font-size: 28px;
  font-family: BergenSans, sans-serif;
  font-weight: bold;
}
.machine-card img {
  width: 80%;
}
@media (max-width: 767px) {
  .machine-card img {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .machine-card {
    width: 100%;
    padding: 24px 0px;
  }
}

.gpu {
  transform: translateY(100px);
}
@media (max-width: 1080px) {
  .gpu {
    transform: translateY(0);
  }
}
@media (max-width: 767px) {
  .gpu {
    transform: translateY(0);
  }
}

.physical-memory {
  transform: translateY(200px);
}
@media (max-width: 1080px) {
  .physical-memory {
    transform: translateY(0);
  }
}
@media (max-width: 767px) {
  .physical-memory {
    transform: translateY(0);
  }
}

.legend {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.legend-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0 14px;
}
.legend-item .circle {
  width: 32px;
  height: 32px;
  border-radius: 300px;
}
.legend-item p {
  font-size: clamp(16px, 2vw, 20px);
}

/*
################################################################################################
               ! CUSTOMER PREFERENCES
################################################################################################
*/
.cust-pref-section {
  padding: 180px 32px;
  display: grid;
  place-items: center;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
@media (max-width: 767px) {
  .cust-pref-section {
    padding: 120px 14px;
  }
}

.cust-pref-wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 112px;
}
@media (max-width: 767px) {
  .cust-pref-wrapper {
    gap: 80px;
  }
}

.cust-pref-col-2, .cust-pref-col-3 {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
@media (max-width: 767px) {
  .cust-pref-col-2, .cust-pref-col-3 {
    flex-direction: column;
  }
}

.dpi-card {
  transform: translateY(150px);
}
@media (max-width: 767px) {
  .dpi-card {
    transform: translateY(0px);
  }
}

.cust-pref-card {
  padding: 32px;
  border-radius: 40px;
  background: #F5F2E9;
}
@media (max-width: 767px) {
  .cust-pref-card {
    padding: 14px;
    border-radius: 20px;
  }
}

.card-title {
  display: flex;
  align-items: center;
  gap: 16px;
}
.card-title h3 {
  font-size: 35px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  max-width: 200px;
}
@media (max-width: 767px) {
  .card-title h3 {
    font-size: 24px;
  }
}

.cust-pref-icon {
  width: 120px;
  height: 120px;
}
@media (max-width: 767px) {
  .cust-pref-icon {
    width: 80px;
    height: 80px;
  }
}

.card-bars {
  display: flex;
  gap: 12px;
}

.bar-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}
@media (max-width: 767px) {
  .bar-item p {
    font-size: 14px;
  }
}
.bar-item .hor-bar {
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: white;
}
.bar-item .hor-bar:hover {
  background: rgb(223, 223, 223);
}
@media (max-width: 767px) {
  .bar-item .hor-bar {
    height: 280px;
  }
}
.bar-item .hor-bar p {
  font-family: BergenSans, sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin-left: 6px;
}
@media (max-width: 767px) {
  .bar-item .hor-bar p {
    font-size: 24px;
  }
}

.screen-1-bar {
  width: 100%;
  height: 8%;
  background-color: #FF1339;
}

.screen-2-bar {
  width: 100%;
  height: 13%;
  background-color: #4529F5;
}

.screen-3-bar {
  width: 100%;
  height: 7%;
  background-color: #02800E;
}

.screen-4-bar {
  width: 100%;
  height: 58%;
  background-color: #FFC928;
}

.screen-5-bar {
  width: 100%;
  height: 4%;
  background-color: black;
}

.dpi-1-bar {
  width: 100%;
  height: 2%;
  background-color: black;
}

.dpi-2-bar {
  width: 100%;
  height: 6%;
  background-color: #FF1339;
}

.dpi-3-bar {
  width: 100%;
  height: 18%;
  background-color: #4529F5;
}

.dpi-4-bar {
  width: 100%;
  height: 71%;
  background-color: #FFC928;
}

.dpi-5-bar {
  width: 100%;
  height: 3%;
  background-color: #02800E;
}

.language-1-bar {
  width: 100%;
  height: 11%;
  background-color: #02800E;
}

.language-2-bar {
  width: 100%;
  height: 12%;
  background-color: #FF1339;
}

.language-3-bar {
  width: 100%;
  height: 16%;
  background-color: #4529F5;
}

.language-4-bar {
  width: 100%;
  height: 46%;
  background-color: #FFC928;
}

.language-5-bar {
  width: 100%;
  height: 10%;
  background-color: black;
}

.cust-pref-col-3 {
  align-items: end;
}
@media (max-width: 767px) {
  .cust-pref-col-3 {
    align-items: normal;
  }
}

.cust-pref-decor {
  padding: 32px;
  border-radius: 40px;
  height: -moz-fit-content;
  height: fit-content;
  background: #F5F2E9;
}
@media (max-width: 767px) {
  .cust-pref-decor {
    padding: 14px;
    border-radius: 20px;
  }
}
.cust-pref-decor img {
  width: 100%;
}

.cust-pref-top-decor {
  position: absolute;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
}
.cust-pref-top-decor img {
  grid-area: 1/6/3/8;
  width: 100%;
  transform: scale(75%);
  transform-origin: top left;
}
@media (max-width: 767px) {
  .cust-pref-top-decor img {
    grid-area: 1/6/3/9;
    transform: scale(100%);
  }
}

:root {
  --padding-1: 48px 5vw 0px 5vw;
}

.debug-1 {
  background: khaki;
  border: 1px solid red;
}

.debug-2 {
  background: skyblue;
  border: 1px solid brown;
}

.bg-pale-100 {
  background: #F9F6EF;
}

.mt-16 {
  margin-top: 5vh;
}

.debug {
  background: rgba(255, 0, 0, 0.2);
}

/*
################################################################################################
              !  HERO SECTION
################################################################################################
*/
.logo {
  grid-area: 1/3/1/5;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.logo img {
  margin-top: 32px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 767px) {
  .logo {
    padding: 0;
    grid-area: 1/2/2/3;
  }
  .logo img {
    width: 80%;
  }
}

.title {
  grid-area: 2/2/3/6;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .title {
    grid-area: 2/1/4/4;
  }
}
.title h1 {
  text-align: center;
  font-size: clamp(6rem, 10vw, 9rem);
  font-family: "BergenSans", sans-serif;
  font-weight: bold;
  line-height: 80%;
  color: #4529F5;
  letter-spacing: -0.05em;
}

.box-1 {
  grid-area: 1/1;
  transform: scale(101%);
}

.box-2 {
  grid-area: 1/2;
  transform: scale(101%);
}

.box-3 {
  grid-area: 1/3;
  transform: scale(101%);
}

.box-4 {
  grid-area: 1/4;
  transform: scale(101%);
}

.box-5 {
  grid-area: 1/5;
  transform: scale(101%);
}

.box-6 {
  grid-area: 1/6;
  transform: scale(101%);
}

.box-7 {
  grid-area: 2/1;
  transform: scale(101%);
}

.box-8 {
  grid-area: 2/2;
  transform: scale(101%);
}

.box-9 {
  grid-area: 2/3;
  transform: scale(101%);
}

.box-10 {
  grid-area: 2/4;
  transform: scale(101%);
}

.box-11 {
  grid-area: 2/5;
  transform: scale(101%);
}

.box-12 {
  grid-area: 2/6;
  transform: scale(101%);
}

.box-13 {
  grid-area: 3/1;
  transform: scale(100.5%);
}

.box-14 {
  grid-area: 3/2;
  transform: scale(100.5%);
}

.box-15 {
  grid-area: 3/3;
  transform: scale(100.5%);
}

.box-16 {
  grid-area: 3/4;
  transform: scale(100.5%);
}

.box-17 {
  grid-area: 3/5;
  transform: scale(100.5%);
}

.box-18 {
  grid-area: 3/6;
  transform: scale(100.5%);
}

.box-19 {
  grid-area: 4/1;
}

.box-20 {
  grid-area: 4/2;
}

.box-21 {
  grid-area: 4/3;
}

.box-22 {
  grid-area: 4/4;
}

.box-23 {
  grid-area: 4/5;
}

.box-24 {
  grid-area: 4/6;
}

@media (max-width: 767px) {
  .box-1, .box-7, .box-11, .box-13, .box-12, .box-17, .box-18 {
    display: none;
  }
}

@media (max-width: 767px) {
  .box-4 {
    grid-area: 1/1;
  }
}

@media (max-width: 767px) {
  .box-5 {
    grid-area: 1/2;
  }
}

@media (max-width: 767px) {
  .box-6 {
    grid-area: 1/3;
  }
}

@media (max-width: 767px) {
  .box-2 {
    grid-area: 2/1;
  }
}

@media (max-width: 767px) {
  .box-3 {
    grid-area: 2/2;
  }
}

@media (max-width: 767px) {
  .box-4 {
    grid-area: 2/3;
  }
}

@media (max-width: 767px) {
  .box-8 {
    grid-area: 3/1;
  }
}

@media (max-width: 767px) {
  .box-9 {
    grid-area: 3/2;
  }
}

@media (max-width: 767px) {
  .box-10 {
    grid-area: 3/3;
  }
}

@media (max-width: 767px) {
  .box-14 {
    grid-area: 4/1;
    height: 125px;
  }
}

@media (max-width: 767px) {
  .box-15 {
    grid-area: 4/2;
    height: 125px;
  }
}

@media (max-width: 767px) {
  .box-16 {
    grid-area: 4/3;
  }
}

@media (max-width: 767px) {
  .box-22 {
    grid-area: 5/1;
  }
}

@media (max-width: 767px) {
  .box-23 {
    grid-area: 5/2;
  }
}

@media (max-width: 767px) {
  .box-24 {
    grid-area: 5/3;
  }
}

@media (max-width: 767px) {
  .hero {
    height: -moz-fit-content;
    height: fit-content;
  }
}

/*
################
               CUSTOMER PREFERRED
################
*/
.cust-prefer-section {
  width: 100%;
  height: 520px;
}

.WIP {
  background: black;
  width: 90vw;
  height: 85%;
  position: absolute;
  opacity: 0.9;
  z-index: 9999;
  display: grid;
  place-items: center;
}
.WIP p {
  color: white;
  font-weight: bold;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
}/*# sourceMappingURL=main.css.map */